@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&display=swap');

.container{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: bisque;
}
.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}


.head{
    font-family: 'Caveat', cursive;
    font-size: 400%;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 166, 20);
    box-shadow: 10px 10px;

}
label {
    display: block;
    margin-bottom: 5px;
    margin-top: 30px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.b11 {
    background-color: #ff0000;
    color: #471e1e;
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 40%;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}
form button {
    background: #0056b3;
    border: 0;
    outline: none;
    cursor: pointer;
}

.form-group{
    display: flex;
    flex-direction: column;
}
::placeholder {
    color: rgb(164, 69, 69);
    opacity: 1; /* Firefox */
  } 